.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #25544b, #e1ffea22 70%);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #171717;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.hand-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hand-icon img {
    width: 50px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 250px;
    height: 50px;
    border-radius: 75px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
}

.hero-latest-btn:hover {
    background: #ff2525;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    width: 500px;
}