.login {
  height: 100vh;
  padding: 50px 0;
  display: grid;
  height: 100%;
  place-items: center;
  background: linear-gradient(180deg, #25544b12, #e1ffea22 60%);
}

.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.title {
  line-height: 100px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(-135deg, #25544b, #4158d0);
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.field button,
.field input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 17px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid lightgrey;
  outline: none;
}

.field input:valid,
.field input:focus {
  border-color: #4158d0;
}

.field label {
  font-size: 17px;
  position: absolute;
  top: 50%;
  color: #999;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
}

.field input:focus~label,
.field input:valid~label {
  top: 0%;
  color: #4158d0;
  transform: translateY(-50%);
  font-size: 16px;
  background: #fff;
}

.wrapper form .signup-link,
.wrapper form .pass-link {
  color: #4158d0;
  margin: 40px 0 0 0;
}

.wrapper form .field button {
  color: #fff;
  background: linear-gradient(-135deg, #25544b, #4158d0);
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding-left: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper form .field button:active {
  transform: scale(0.95);
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  color: #262626;
}

.wrapper form .pass-link a,
.wrapper form .signup-link Link {
  text-decoration: none;
  color: #4158d0;
}

.wrapper form .pass-link a:hover,
.wrapper form .signup-link Link:hover {
  text-decoration: underline;
}