.shop-product {
    background: linear-gradient(180deg, #25544b12, #e1ffea22 60%);
}

.shop-category {
    margin: 0 20px;
}

.search-sort {
    display: flex;
    justify-content: space-between;
}

.shopcategory-search {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.shopcategory-search input {
    border: none;
    outline: none;
    min-width: 300px;
    border-radius: 10px;
    font-size: 17px;
    height: 30px;
}

.shopcategory-search button {
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ff9a9a;
    cursor: pointer;
}

.shopcategory-search button:hover {
    background: #f16c6c;
}

.shopcategory-sort {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    font-size: 17px;
}

.shopcategory-sort label {
    display: flex;
    align-items: center;
}

.shopcategory-sort select {
    font-size: 16px;
    width: fit-content;
    border-radius: 10px;
    height: 25px;
}

.shopcategory-indexsort {
    display: flex;
    justify-content: right;
    align-items: center;
}

.shopcategory-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}