.cartitems {
    margin: 30px 170px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
    margin: 0;
    opacity: 1;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    padding: 5px;
    border: 2px solid #454545;
    cursor: pointer;
}

.cartitems-remove-icon:hover {
    background: #fc2f2f;
}

.cartitems-quantity {
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    background: white;
}

.cartitems-down {
    display: flex;
    margin: 100px 0;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitems-total-item p {
    margin-bottom: 0;
}

.cartitems-total-item input {
    width: 400px;
    outline: none;
    border: none;
    font-size: 16px;
    overflow-y: auto;
    /* Cho phép thanh cuộn y khi nội dung vượt quá kích thước */
    word-wrap: break-word;
    text-align: right;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.cartitems-total button:hover {
    background: #fc2f2f;
}