.product-details .breadcrumb a {
    text-decoration: none;
    color: #333;
}

.product-details .product-info {
    display: flex;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
    min-height: 500px;
}

.product-details img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 2rem;
}

.product-details .details {
    width: 600px;
    position: relative;
}

.product-details .details h2 {
    margin-top: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-transform: uppercase;
}

.product-details .details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.product-details .details .actions {
    position: absolute;
    bottom: 20px;
}

.product-details .details .actions button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #e3e3e3;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.product-details .details .actions p,
.product-details .details .actions button {
    font-weight: 600;
}

.product-details .details .actions button:hover {
    background: #cfcfcf;
}

.product-details .details .actions button i {
    font-size: 20px;
    margin-right: 10px;
}