.add-product {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* .add-product-container{
    align-items: center;
    width: 580px;
    background: white;
    margin: auto;
    padding: 20px 60px;
    border-radius: 20px;
}
.add-container h1{
    margin: 20px 0;
}
.add-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}
.bt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px; 
}
.bt input{
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.bt-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}
.bt-select select{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
}
.bt-select option {
    border-radius: 20px;
}
.bt-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}
.bt-img input{
    width: 100%;
    font-size: 15px;
}
.bt-img img{
    width: 150px;
    padding-right: 30px;
}
span {
    color: #d15353;
    font-size: 15px;
}
.add-product-container button {
    width: 100%;
    height: 45px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-product-container button:hover {
    background: #e03a3a;
} */


.add-product .container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.add-product h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.add-product .form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.add-product .form-group {
    margin-bottom: 15px;
    flex: 1;
}

.add-product label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.add-product input[type="text"],
.add-product input[type="number"],
.add-product select,
.add-product textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.add-product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.add-product button:hover {
    background-color: #45a049;
}

.add-product .back-to-products {
    display: block;
    text-align: center;
    color: #4CAF50;
}

.add-product .back-to-products a {
    text-decoration: none;
    color: #4CAF50;
}